@import "tailwindcss";
*{
  box-sizing: border-box;
  font-family: 'hevalica neue';
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

#tasklist::-webkit-scrollbar, #alltask::-webkit-scrollbar, #empdata::-webkit-scrollbar
{
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

button {
  transition: 
  transform 0.2s ease,
  box-shadow 0.2s ease,
  background-color 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
